/* 404.module.css */
.container {
    @apply flex flex-col items-center justify-center min-h-screen text-center;
    background-color: var(--primary-color);
}

.title {
    @apply text-6xl font-bold;
    color: var(--secondary-color);
}

.subtitle {
    @apply text-2xl mb-8;
    color: var(--secondary-color);
}

.link {
    @apply hover:text-blue-700;
    color: var(--link-color);
}