.logo {
  @apply uppercase font-bold;
  font-size: var(--size-5);
  font-family: var(--font-family);
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}